
.afld_hidden {
    display: none !important;
}

#TB_title {
    height: 50px;
}

#TB_load {
    padding: 0px !important;
    margin: 0px !important;
    background-color: transparent !important;
    border: 0px !important;
}

#TB_load::before {
    content: "Loading....";
    display: block;
    text-align: center;
    color: #fff;
}

div#TB_window {
    background: #f1f1f1;
}

#TB_ajaxWindowTitle {
    line-height: 50px;
}

div#TB_title {
    background: #2271b1;
    color: #fff;
}

button#TB_closeWindowButton {
    background: #5f9bcb;
    border-radius: 0px;
    height: 50px;
}

tb-close-icon:before {
    color: #2f3f50;
}

.tb-close-icon {
    top: 10px;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
/* ===== Scrollbar CSS ===== */
/* Firefox */
div#TB_ajaxContent {
    scrollbar-width: auto;
    scrollbar-color: #2271b1 #ffffff;
}

/* Chrome, Edge, and Safari */
div#TB_ajaxContent::-webkit-scrollbar {
    width: 16px;
}

div#TB_ajaxContent::-webkit-scrollbar-track {
    background: #ffffff;
}

div#TB_ajaxContent::-webkit-scrollbar-thumb {
    background-color: #2271b1;
    border-radius: 10px;
    border: 3px solid #ffffff;
}

.afld-actions {
    text-align: center;
}

.announcement-view-link {
    padding: 5px 20px;
    line-height: 20px;
    border-radius: 5px;
    text-align: center;
    width: 100px;
}

.ld-icon.ld-icon-announcements {
    /*background: url('http://s.mobileread.com/i/icons/icon7.gif');*/
    /*height: 16px;*/
    /*width: 16px;*/
    /*display: block;*/
    /* Other styles here */

    font-family: dashicons !important;
}


.afld-btn-mark-as-seen {
    border-radius: 5px;
    padding: 10px 20px;
    line-height: 7px;
    margin: 10px 20px;
    background: #fff;
    color: #333;
    float: right;
    position: relative;
}

.afld-btn-mark-as-seen:hover {
    background: #fff;
    color: #333;
}


.afld-btn-mark-as-unseen {
    border-radius: 5px;
    padding: 10px 20px;
    line-height: 7px;
    margin: 10px 20px;
    background: #fff;
    color: #333;
    float: right;
    position: relative;
}

.afld-btn-mark-as-unseen:hover {
    background: #fff;
    color: #333;
}
