/*!* utility classes *!*/
.alignleft {
    float: left;
}

.alignright {
    float: right;
}


/* .widefat - main style for tables */
.widefat {
    border-spacing: 0;
    width: 100%;
    clear: both;
    margin: 0;
}

.widefat * {
    word-wrap: break-word;
}

.widefat a,
.widefat button.button-link {
    text-decoration: none;
}

.widefat td,
.widefat th {
    padding: 8px 10px;
}

.widefat thead th,
.widefat thead td {
    border-bottom: 1px solid #c3c4c7;
}

.widefat tfoot th,
.widefat tfoot td {
    border-top: 1px solid #c3c4c7;
    border-bottom: none;
}

.widefat .no-items td {
    border-bottom-width: 0;
}

.widefat td {
    vertical-align: top;
}

.widefat td,
.widefat td p,
.widefat td ol,
.widefat td ul {
    font-size: 13px;
    line-height: 1.5em;
}

.widefat th,
.widefat thead td,
.widefat tfoot td {
    text-align: left;
    line-height: 1.3em;
    font-size: 14px;
}

.widefat th input,
.updates-table td input,
.widefat thead td input,
.widefat tfoot td input {
    margin: 0 0 0 8px;
    padding: 0;
    vertical-align: text-top;
}

.widefat .check-column {
    width: 2.2em;
    padding: 6px 0 25px;
    vertical-align: top;
}

.widefat tbody th.check-column {
    padding: 9px 0 22px;
}

.widefat thead td.check-column,
.widefat tbody th.check-column,
.updates-table tbody td.check-column,
.widefat tfoot td.check-column {
    padding: 11px 0 0 3px;
}

.widefat thead td.check-column,
.widefat tfoot td.check-column {
    padding-top: 4px;
    vertical-align: middle;
}

.update-php div.updated,
.update-php div.error {
    margin-left: 0;
}

.no-js .widefat thead .check-column input,
.no-js .widefat tfoot .check-column input {
    display: none;
}

.widefat .num,
.column-comments,
.column-links,
.column-posts {
    text-align: center;
}

.widefat th#comments {
    vertical-align: middle;
}

#ajax-response.alignleft {
    margin-left: 2em;
}

.widefat th,
.widefat td {
    color: #50575e;
}

.widefat th,
.widefat thead td,
.widefat tfoot td {
    font-weight: 400;
}

.widefat thead tr th,
.widefat thead tr td,
.widefat tfoot tr th,
.widefat tfoot tr td {
    color: #2c3338;
}

.widefat td p {
    margin: 2px 0 0.8em;
}

.widefat p,
.widefat ol,
.widefat ul {
    color: #2c3338;
}

.widefat .column-comment p {
    margin: 0.6em 0;
}

.widefat .column-comment ul {
    list-style: initial;
    margin-left: 2em;
}

/*!* Theme/Plugin file editor *!*/
.alignleft h2 {
    margin: 0;
}


/*** Form.css ***/

.tablenav .actions select {
    float: left;
    margin-right: 6px;
    max-width: 12.5rem;
}

.wp-list-table.privacy_requests tr:not(.inline-edit-row):not(.no-items) td.column-primary:not(.check-column) {
    display: table-cell;
}

.wp-list-table.privacy_requests.widefat th input,
.wp-list-table.privacy_requests.widefat thead td input {
    margin-left: 5px;
}

/*** Custom Style **/

.header_wrapper {
    display: flex;
    padding: 10px;
    margin: 10px 0px;
    background: #f1f1f1;
}

.header_into {
    display: inline-flex;
    width: 80%;
    font-size: 25px;
}

.header_into h1 {
    padding: 0px;
    margin: 0px;
    font-size: 25px;
    text-transform: capitalize;
}


dv.header_actions {
    display: flex;
    width: 40%;
}

dv.header_actions button:nth-child(2) {
    margin: 0px 0px 0px 10px;
}


/* Loader */

#wi_gzcr_loader_spinner {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: .5;
    z-index: 999999;
    background: #ffffff;
}

#wi_gzcr_loader_spinner > p > img {
    width: 50px;
}

/**SPINNER START**/
.wi_gzcr_spinner {
    position: absolute;
    left: 45%;
    top: 50%;
    height: 100px;
    width: 100px;
    margin: 0px auto;
    -webkit-animation: rotation .6s infinite linear;
    -moz-animation: rotation .6s infinite linear;
    -o-animation: rotation .6s infinite linear;
    animation: rotation .6s infinite linear;
    border-left: 6px solid rgba(0, 174, 239, .15);
    border-right: 6px solid rgba(0, 174, 239, .15);
    border-bottom: 6px solid rgba(0, 115, 170, .8);
    border-top: 6px solid rgba(0, 174, 239, .8);
    border-radius: 100%;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}

@-moz-keyframes rotation {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(359deg);
    }
}

@-o-keyframes rotation {
    from {
        -o-transform: rotate(0deg);
    }
    to {
        -o-transform: rotate(359deg);
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

/**SPINNER END**/

