/**
 * Reference
 * https://getbootstrap.com/docs/5.0/getting-started/download/#npm
 * https://getbootstrap.com/docs/5.0/getting-started/webpack/
 * https://blog.logrocket.com/trying-out-the-new-bootstrap-5-with-react/
 *
 * https://reactstrap.github.io/components/
 * https://www.pluralsight.com/guides/how-to-integrate-bootstrap-with-reactjs
 * */
// Import Bootstrap and its default variables
@import "../../node_modules/bootstrap/scss/bootstrap.scss";


body {
  background: #f1f1f1;
}

.settings_page_awesome {
  background: #f6f6f6;
  font-size: 14px;
  position: relative;
  box-sizing: border-box;
  font-family: Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
}

#wpcontent {
  padding-left: 0;
}

.auto-fold {
  #wpcontent {
    padding-left: 0;
  }
}

.header-sticky-top {
  position: sticky !important;
  position: -webkit-sticky !important;
  top: 33px;
  z-index: 99;
  //border-bottom: 2px solid #007cba;
  -webkit-box-shadow: 2px 0px 10px 1px rgb(193 193 193);
  box-shadow: 0px 0px 5px 0px rgb(193 193 193);
}

#wi-afld {
  .components-placeholder {
    background: #f6f6f6;
    /*margin-top: 25vh;
    margin-bottom: 25vh;*/
    height: 100vh;
  }

  .settings-container {

    .components-panel__body {
      margin: 25px 0;
      background: #fff;
      border: 1px solid #e2e4e7;

      .components-panel__body-toggle {
        border-bottom: 1px solid #d6e2ed;
      }

      .components-panel__row {
        padding: 10px;
        margin: 0;


        .components-base-control {
          width: 100%;

          .components-base-control__field {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
          }

          .components-base-control__field {
            display: block;

            label {
              font-weight: 600;
              margin-bottom: 10px;
            }

            input[type="text"], input[type="number"], select {
              border: 1px solid #b7c9d9;
              border-radius: 3px;
              font-size: 14px;
              padding: 9px 15px;
              width: 100%;
              max-width: 100%;
              box-shadow: none;
              height: 40px;
              /*margin: 0 0 10px 0;*/
              color: #444;

              &:disabled {
                background: #f6f6f6;
                border-color: #eeeeee;
                color: #bbbbbb;
              }

              &:focus {
                border-color: #00a0d2;
                box-shadow: 0 0 0 1px #00a0d2;
                outline: 2px solid transparent;
                outline-offset: -2px;
              }
            }

            .components-form-toggle {
              float: right;
            }

            .button-group {
              display: flex;
              align-items: center;
              margin: 2px 0 15px;

              .is-primary {
                padding: 2px 20px;
                height: auto;
                font-size: 14px;
                margin-right: 10px;
              }
            }
          }
        }
      }
    }

    .components-panel__body.is-opened {
      display: block;
    }

    .codeinwp-info {
      padding: 0 10px 10px;

      h2 {
        font-weight: 300;
        margin-bottom: 10px;
      }

      p {
        margin: 0 0 1.5em 0;
      }

      .buttons-group {
        display: flex;

        a {
          margin: 0px 5px;
          border: 2px solid var(--wp-admin-theme-color);
          color: var(--wp-admin-theme-color);
        }

        .is-default {
          padding: 2px 20px;
          height: auto;
          font-size: 14px;

          &:first-child {
            margin-right: 15px;
          }
        }
      }
    }
  }
}

//.notice{ display: none; }

//.components-spinner {
//  margin: 0 auto;
//}

.components-notice {
  margin: 0px;
  padding: 5px 12px;
  -webkit-box-shadow: 2px 0px 10px 1px rgb(193 193 193);
  box-shadow: 0px 0px 5px 0px rgb(193 193 193);
}

.settings_not_saved {
  box-shadow: 0 0 0 1px #f10a35 inset !important;
  border-color: #f10a35 !important;
}

li.nav-item {
  margin: 0px 5px;
}

.nav-pills .nav-link.active,
.nav-link:focus,
.nav-pills .show > .nav-link {
  background: #f1f1f166;
  color: #333;
  border: 0px;
  outline: 0px;
  //border-top: 3px solid #007cba;
  border: 3px solid #007cba;
}

.nav-pills .nav-link {
  background: transparent;
  border: 0px;
  border-radius: 0px;
  border: 3px solid #c1c1c1;
  /* border-bottom: 3px solid #c1c1c1; */
  padding: 5px 20px;
  color: #333;
}

.card {
  max-width: 100%;
}

#adminmenuwrap {
  margin-top: 0px !important;
}

.dashicons, .dashicons-before:before {
  width: 40px;
  height: 24px;
  font-size: 24px;
  vertical-align: middle;
}

.custom-label-text {
  margin-bottom: 10px !important;
  font-weight: 600;
}

.custom-help-text {
  margin-top: -8px;
  font-size: 12px;
  font-style: normal;
  color: rgb(117, 117, 117);
}